<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aluno.toth.tothaluno">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_tab1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificacoesActivity"
            android:label="@string/title_activity_notificacoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".EsqueciSenhaActivity" />
        <activity android:name=".CadastrarActivity" />
        <activity android:name=".PesquisarGrupoActivity" />
        <activity android:name=".IntroducaoGrupoActivity" />
        <activity
            android:name=".IntroducaoAtividadeActivity"
            android:label="@string/title_activity_introducao_atividade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AtividadeExecucaoActivity"
            android:label="@string/title_activity_atividade_execucao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanoAulaActivity"
            android:label="@string/title_activity_plano_aula"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BoletimActivity" />
        <activity
            android:name=".DescricaoBimestreActivity"
            android:label="@string/title_activity_descricao_bimestre"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>